* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
header {
    position: fixed;
    /* top: 0; */
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 50px; */
    z-index: 100;
    border-bottom: 1px solid #eaeaea;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
.home{
    display: flex;
    position: absolute;
    bottom: -5px;
    text-align: center;
    justify-content: center;
    gap: 20px;
    color: #ddd;
    text-decoration: none;
}
.dailyoutfit{
    gap: 5px;
}
.doleft{ display: flex;
    gap: 10px;
}
.doleft img{
    width: 300px;
    right: 150px;
}
.doright{
    display: flex;
    gap: 10px;
   
}
.doright img{
    width: 300px;
    right: 150px;
}
.do2 img{
    width: 300px;
    height: 400px;
}
.do4 img{
height:410px ;
}
.do6 img{
    height: 400px;
}